NODE_ENV=development

# Get your Rutter API keys from the dashboard https://dashboard.rutterapi.com
RUTTER_CLIENT_ID=
RUTTER_SECRET=
# Use 'sandbox' to test with fake credentials in the Sandbox environment
# Use 'production' to go live with real users. To get access to production, visit your dashboard https://dashboard.rutterapi.com
RUTTER_URL=

# FRONTEND VARIABLES
# NEXTJS requires NEXT_PUBLIC prefix to expose environment variables to the front-end
NEXT_PUBLIC_RUTTER_PUBLIC_KEY=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=